<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pesquisa de título</title>
<link rel="shortcut icon"
	href="https://media.flaticon.com/dist/min/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<a class="navbar-brand" href="#"> <img src="/img/logo.png"
			width="30" height="30" alt="">
		</a>
	</nav>

	<div class="panel panel-primary">
		<div class="panel-heading">Pesquisa de titulos</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<!-- Inicio da tabela -->
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1">Ação</th>
					</tr>
				</thead>
				<!-- fim cabeçalho -->
				<tbody>
					<tr>
					<td colspan="6">Nenhum titulo foi encontrado</td>
					</tr>
				</tbody>
				<!-- fim body -->

			</table>
			<!-- Fim da tabela -->
		</div>
	</div>

	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>