<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">
<head>
<meta charset="UTF-8" />
<title>Pesquisa de título</title>
</head>

<section layout:fragment="conteudo">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pesquisa de titulos</h1>
				<a class="btn btl-link aw-link-panel" href="/titulos/novo">Novo
					título</a>
			</div><!-- Fim Heading Panel -->
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<!-- Inicio da tabela -->
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1">Ação</th>
					</tr>
				</thead>
				<!-- fim cabeçalho -->
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.nome}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="${{titulo.valor}}"></td>
						<td class="text-center" >
							<span class="label" th:text="${titulo.status.descricao}"
							th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
						</td>
						<td class="text-center"></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
							título foi encontrado</td>
					</tr>
				</tbody><!-- fim tbody -->
			</table>
			<!-- Fim da tabela -->
		</div><!-- Fim do body Panel -->
	</div>
</section>
</html>